.jumbotron {
    padding-top: 7rem;
    background-color: #e2edff;
    /* background-color: #7181cf; */
}

#program {
    background-color: #e2edff;
}

#umkm-wisata {
    background-color: #ffff;
}

#contact {
    background-color: #e2edff;
}
/* agar pas klik navbar jadi pas */
section {
    padding-top: 5rem;
}
